* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Page */
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(255, 68, 127);
}

/* Header */

.header {
  text-align: center;
}

.header-title,
.header-subtitle {
  margin: 0;
  color: white;
  text-shadow: -1px 0 rgb(134, 0, 43), -2px 0 rgb(134, 0, 43), -3px 0 rgb(134, 0, 43);
  font-style: italic;
}

.header-subtitle a {
  color: white;
}

/* Cards */

.cards-ctn {
  max-width: 100%;
  display: flex;
  overflow: auto;
}

.card-ctn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.card {
  padding: 24px;
  min-height: 350px;
  width: 250px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 8px 32px -16px black;
}

#cardContent {
  font-size: 1.4em;
  font-weight: 600;
}

/* Next Card Button */

.next-card-btn-ctn {
  padding: 16px;
}

.next-card-btn {
  background: rgb(134, 0, 43);
  color: white;
  padding: 12px 32px;
  border-radius: 64px;
  box-shadow: 0 8px 8px -4px rgba(0,20,40,.5);
  cursor: pointer;
  user-select: none;
  transition: .1s;
}

.next-card-btn:active {
  box-shadow: none;
  background: rgb(255, 110, 146);
}

/* Footer */
.footer-ctn {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.footer-logo {
  width: 40px;
  filter: drop-shadow(2px 8px 4px rgba(0,20,40,.5))
}